h1 {
  text-align: center;
  color: var(--alternate-color);
}
.form-hint {
  margin-top: 1em;
  text-align: center;
  font-size: 14px;
  color: var(--alternate-color);
}

.link {
  color: var(--clickable-text);
  text-decoration: none;
  margin-left: 4px;
  font-weight: 500;
}

.link:hover {
  text-decoration: underline;
}
