.title {
  color: orange;
  text-shadow: 2px 2px 4px var(--bg-color);
}

.games {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  min-height: 100vh;
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  flex-grow: 1;
}
