.title {
  color: orange;
  text-shadow: 2px 2px 4px var(--bg-color);
}

.games {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.search {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 20vw));
  gap: 1rem;
  background-color: red; */
}
