.title {
  color: white;
  text-shadow: 2px 2px 4px var(--bg-color);
}

.games {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.search {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-field {
}
.cards-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 20vw));
  gap: 1rem;
  background-color: red; */
}
.card {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  flex-basis: 250px;
  box-shadow: 1px;
  box-shadow: 0 4px 5px 5px rgb(0, 0, 0, 0.3);
}
.card-title {
  /* background-color: red; */
  margin-bottom: 0.5rem;
}
.btn-actions {
  /* justify-self: flex-end; */
  display: flex;
  gap: 1rem;
}
.img-container {
  border-radius: 50%;
}
