<header>
    <mat-toolbar>
        <mat-toolbar-row>
            <button class="btn" matButton routerLink="/">
                <mat-icon>sports_esports</mat-icon>
                <h2>Game Store</h2>
            </button>
            <span class="spacer"></span>


            <div class="btn-container">
                <!-- Mat Menu Definition -->
                <button class="btn" matButton="outlined" [matMenuTriggerFor]="mainMenu">
                    Menu <mat-icon>apps</mat-icon>
                </button>

                <mat-menu #mainMenu="matMenu">
                    <button mat-menu-item routerLink="/" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }">Home</button>
                    <button mat-menu-item routerLink="/games" routerLinkActive="active">Games</button>
                    <button mat-menu-item routerLink="/about-us" routerLinkActive="active">About Us</button>
                    <button mat-menu-item routerLink="/learn-more" routerLinkActive="active">Learn More</button>
                </mat-menu>

                <!-- User Menu  -->
                <button class="btn" matButton="outlined" [matMenuTriggerFor]="userMenu">
                    Profile <mat-icon>account_circle</mat-icon>
                </button>

                <mat-menu #userMenu="matMenu">
                    <button mat-menu-item routerLink="/users/login" routerLinkActive="active">Login</button>
                    <button mat-menu-item routerLink="/users/register" routerLinkActive="active">Register</button>
                    <button mat-menu-item routerLink="/users/profile" routerLinkActive="active">Profile</button>
                    <button mat-menu-item routerLink="/users/logout" routerLinkActive="active">Logout</button>
                </mat-menu>
            </div>

        </mat-toolbar-row>
    </mat-toolbar>
</header>