button:hover {
  background-color: rgb(37, 37, 37);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}
.btn {
  color: white !important;
  transition: background-color 0.5s ease, color 0.5s ease, box-shadow 0.5s ease,
    transform 0.3s ease;
}
.btn-container {
  display: flex;
  gap: 1rem;
}
.active {
  background-color: var(--bg-color);
  color: white;
}
.mat-mdc-menu-content {
  color: red !important;
  padding: 2em !important;
}
