button:hover {
  background-color: rgb(37, 37, 37);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}
.btn {
  color: white !important;
  transition: background-color 0.5s ease, color 0.5s ease, box-shadow 0.5s ease,
    transform 0.3s ease;
}
.btn-container {
  display: flex;
  gap: 1rem;
}
.active {
  background-color: var(--bg-color);
  color: orange !important;
}

.username-container {
  position: relative;
  overflow: hidden;
  background-color: rgb(192, 167, 167);
  position: absolute;
  left: 50%;
  translate: -50% 50%;
  bottom: 100%;

  padding: 1rem 3rem;
  max-width: 50vw;
  min-width: 40vw;
  border-bottom-left-radius: 50rem;
  border-bottom-right-radius: 50rem;

  p {
    position: relative;
    top: 25px;
    text-align: center;
  }
}
.username {
  color: var(--clickable-text);
}
