<!-- <div class="container" @slideAnimation>
    <div class="inner testimonial-slide" [@carouselAnimation]="activeIndex">
        <div class="left">
            <img [src]="testimonials[activeIndex].imageUrl" alt="animal-photo">
        </div>
        <div class="right">
            <h1> {{testimonials[activeIndex].title}} </h1>
            <p> {{testimonials[activeIndex].description}} </p>
        </div>
    </div>
</div>
<div class="carousel" @slideAnimation>
    <div class="dots">
        @for (testimonial of testimonials; track testimonial._id; let i = $index) {
        <button mat-button class="dot" [class.active]="i === activeIndex" (click)="setActive(i)"> </button>
        }
    </div>
    <div class="buttons">
        <a matButton="elevated" color="accent" [href]="testimonials[activeIndex].author.username">Show
            {{testimonials[activeIndex].title}}</a>
        <a matButton="tonal" href="#">Contact Us</a>
    </div>
    <div class="game-container">
        <a matButton="elevated" routerLink="/games" class="pulse">
            <h1>Explore our store</h1>
        </a>
    </div>
</div> -->






<!-- @defer(when testimonials().length > 0){
<div class="container" @slideAnimation>
    <div class="inner testimonial-slide" [@carouselAnimation]="activeIndex">
        <div class="left">
            <img [src]="testimonials()[activeIndex].imageUrl" alt="animal-photo">
        </div>
        <div class="right">
            <h1> {{testimonials()[activeIndex].title}} </h1>
            <p> {{testimonials()[activeIndex].description}} </p>
        </div>
    </div>
</div>
<div class="carousel" @slideAnimation>
    <div class="dots">
        @for (testimonial of testimonials(); track testimonial._id; let i = $index) {
        <button mat-button class="dot" [class.active]="i === activeIndex" (click)="setActive(i)"> </button>
        }
    </div>
    <div class="buttons">
        <a matButton="elevated" color="accent" [href]="testimonials()[activeIndex].author.username">Show
            {{testimonials()[activeIndex].title}}</a>
        <a matButton="tonal" href="#">Contact Us</a>
    </div>
    <div class="game-container">
        <a matButton="elevated" routerLink="/games" class="pulse">
            <h1>Explore our store</h1>
        </a>
    </div>
</div>
<app-platforms />
} @loading (minimum 1s) {
<mat-spinner class="spinner"></mat-spinner>

} -->


@if(isLoading()){
<mat-spinner class="spinner"></mat-spinner>
} @else {
@if (testimonial()[0]) {


<div class="container" @slideAnimation>
    <div class="dots">
        <h1 class="newest">Newest game in the market</h1>
    </div>
    <div class="inner testimonial-slide" @carouselAnimation>
        <div class="left">
            <img [src]="testimonial()[0].imageUrl" alt="photo">
        </div>
        <div class="right">
            <h1> {{testimonial()[0].title}} </h1>
            <p> {{testimonial()[0].description}} </p>
        </div>
    </div>
</div>
<div class="carousel" @slideAnimation>

    <div class="buttons">
        <a matButton="elevated" color="accent" routerLink="/games/{{testimonial()[0]._id}}">Show
            {{testimonial()[0].title}}</a>
        <a matButton="tonal" href="#">Contact Us</a>
    </div>
    <div class="game-container">
        <a matButton="elevated" routerLink="/games" class="pulse">
            <h1>Explore our store</h1>
        </a>
    </div>
</div>
} @else {
<h1 class="title">No games yet</h1>
}
<app-platforms />}