.paginator {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: orange;
  font-weight: bold;
  margin: 2rem;
  padding: 0.3rem 1rem;
  border-radius: 5rem;
  position: relative;
}
