@if (pagination()) {

<mat-paginator class="paginator" (page)="handlePageEvent($event)" [length]="pagination()?.total"
    [pageSize]="pagination()?.limit" [disabled]="disabled" [showFirstLastButtons]="showFirstLastButtons"
    [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []" [hidePageSize]="hidePageSize"
    [pageIndex]="pageIndex()" aria-label="Select page">
</mat-paginator>
<div class="page-number">
    Page: {{ (pagination()!.page ) }} of {{ pagination()?.totalPages }}
</div>

}