@if (game()) {
<mat-card class="card" appearance="raised">
    <mat-card-content class="img-container">
        <img mat-card-lg-image [src]="game()?.imageUrl" [alt]="game()?.title">
    </mat-card-content>
    <mat-card-header>
        <mat-card-title-group class="card-title">
            <mat-card-title>{{game()?.title}}</mat-card-title>
            @if (game()?.platforms) {
            <mat-card-subtitle class="subtitle">
                {{ game()?.platforms! | platforms}}
            </mat-card-subtitle>
            }
        </mat-card-title-group>
    </mat-card-header>
    <span class="spacer"></span>
    <p class="likes">
        @if (game()?.likes?.length !== undefined && game()!.likes!.length > 0) {
        <span class="likes-count">{{game()?.likes?.length}}</span> likes
        } @else {
        No likes yet
        }
    </p>
    <mat-card-actions class="btn-actions">

        @if(userId()){

        <button matButton="tonal" [class.unlike]="isLiked()" (click)="toggleLike()">
            <mat-icon>
                {{isLiked() ? 'thumb_down_off_alt' : 'thumb_up_off_alt'}}
            </mat-icon>
            {{isLiked() ? 'Unlike' : 'Like'}}
        </button>
        }

        <!-- <button matButton="tonal"><mat-icon>thumb_up_off_alt</mat-icon>Like</button> -->


        <a routerLink="details/{{game()?._id}}" matButton="elevated">Details<mat-icon>info</mat-icon></a>
    </mat-card-actions>
</mat-card>
}