:host {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  min-height: 100lvh;
  background-color: rgba(255, 0, 0, 0.11);
}
main {
  flex: 1;
  display: block;
  margin-inline: 5%;
}
