.section {
  background-color: orange;
  box-shadow: 5px 5px 10px 4px rgb(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  margin-block: 2rem;
}
.top {
  display: flex;
}
.left {
  flex-grow: 1;
}
.right {
  flex-grow: 1;
  background-color: red;
}
.user {
  margin-block: 1rem;
  display: flex;
  gap: 1rem;
  border: 1px solid black;
}
.update-btn {
  margin-block: 1rem;
}
table {
  background-color: orange;
}
.action-class {
  display: flex;
  gap: 1rem;
}
.create {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.create-btn {
  width: fit-content;
}
